*{
    margin: 0;
    padding: 0;
}

/* font */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared classes */
.display-flex{
    display: flex;
}
.bold{
    font-weight: bold;
}
.black1{
    color: black;
}
.black2{
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: #E95A08;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* header */

 /* .header{
    max-width: 1140px;
 } */

/* navbar */
.p-nav{
    justify-content: center;
}
.navbar{
    width: 72rem;
    height: 4.43rem;
    /* background-color: skyblue; */
    
    justify-content: space-between;
    margin:2rem 10rem 8rem 10rem;
}
.nav-link{
    text-decoration: none;
    font-size: 1rem;
}
.nav-item{
    list-style: none;
    padding-right: 3rem;
}
.nav-item-color{
    color: #8987A1;
}
/* banner */


/* .p-banner{
    justify-content: center;
    
} */
/* .banner{
    margin:120px 150px 120px 150px ;
    
    max-width: 1140px;
}
.banner-description{
    font-size: 22px;
}
.banner-title{
    font-size: 64px;
    font-weight: bold;
}
 */


.banner{
    display: flex;
    margin: 0 auto;
    /* gap: 90px; */
    justify-content: center;
    
    
    align-items:end;
    margin-top: 120px;
    margin-bottom: 0px;
    max-width: 1140px;
   
}
.banner-script{
    max-width: 570px;
    
}
.banner img{
    width: 670px;
    height: 355px;
}

.banner-script p{
    font-size: 22px;
    color: #0000006d;
}
.banner-title h1{
    font-size: 65px;
    font-weight: bold;
    color: #E95A08;
}

/* plants section */
/* .plants{
    max-width: 1140px;
    
} */
.plants{
    max-width: 1140px;
    margin:0 auto;
}
.plant-title{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-left: 100px;
    
}
.plant-subtitle{
    font-size: 22px;
    text-align: center;
}
.plant-description{
    padding-top: 120px;
    padding-bottom: 49px;
}
.card-img{
    padding-bottom: 20px;
}
.card-title{
   font-size: 22px;
   font-weight:500;
   padding-bottom: 20px;
}
.card-subtitle{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}
.card-btn{
    background-color:#E95A08 ;
    font-size: 16px;
    font-weight: 600;
    padding: 19px 80px;
    color: white;
    border: none;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1140px;
    margin: 0 auto;
}
.card{
    max-width: 270px;
    max-height: 485px;
    padding-right: 20px;
    padding-bottom: 30px;
}





@media screen and (max-width:676px) {
    .hide-mobile{
        display: none;
    }
    .navbar{
        margin: 4rem 1rem 2rem 1rem ;
        /* background-color: pink; */
        max-width: 361px;
        max-height: 38px;

    }
    .nav-img img{
        height: 100%;
        width: 100%;
        
    }
    .nav-links{
        align-items: center;
        
    }
     .banner{
        
        flex-direction: column-reverse;
        align-items: center;
    }
    .banner img{
    max-width: 393px;
    max-height: 245px;
}
    
.banner-title {
        width: 361px;
        
    }
    .banner-title h1{
        font-size: 22px;
    }
    .banner-script p{
        font-size: 14px;
        margin-bottom: 0px;
    }
    .plants{
    max-width: 393px;
    
}
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        max-width: 362px;
        
    }
    .plant-title{
        font-size: 24px;
        text-align: center;
        padding-left: 30px;
    }
    .plant-subtitle{
        font-size: 14px;
        text-align: center;
    }
    
    
    plant-description{
        text-align: center;
    }
    .card{
        max-width: 171px;
    }
    .card-img{
        max-width: 171px;
        max-height: 197px;
    }
    .card-btn{
        max-width: 171px;
        max-height: 50px;
        padding:10px 30px 10px 30px;
        font-size: 16px;
    }
    .card-title{
        font-size: 16px;

    }
    .card-subtitle{
        font-size: 16px;
    }

}
